<!DOCTYPE html>
<html>
<head>
    <title>{{ page.project_name }} - {{ page.document_type }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
<style>
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }
</style>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ page.project_name }}</h1>
            <p>{{ page.document_type }} ({{ page.language }})</p>
        </header>
        <article>
            {{ content }}  </article>
    </div>
</body>
</html>